.link {
  cursor: pointer;
}

.link:active {
  transform: translateY(0.125rem);
}

.burger {
  width: 20px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 1100; /* Ensure the burger is on top */
}

.line {
  width: 100%;
  height: 2px;
  background-color: #849199;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.lineOpen:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.lineOpen:nth-child(2) {
  opacity: 0;
}

.lineOpen:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.responsiveMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Blackish blur effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 24px;
  z-index: 1000;
  overflow: hidden; /* Prevent scrolling */
  transform: translateX(-100%); /* Start off-screen */
  transition: transform 0.3s ease-in-out; /* Slide-in effect */
}

.responsiveMenu.open {
  transform: translateX(0); /* Slide-in when open */
}

.responsiveLink {
  color: #ddd;
  text-decoration: none;
  font-size: 18px;
}

@media screen and (max-width: 650px) {
  .burger {
    display: flex;
  }

  .link {
    display: none;
  }
}

/* Additional styles to separate the "Write" and "Logout" links */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .link {
  margin-right: 10px;
}

.navbar .link:last-child {
  margin-right: 0;
}
