.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.wrapper {
    padding: 120px 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(43deg, #6276d8 0%, #b659ae 46%, #ebc882 100%);
    border: 2px solid transparent;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.wrapper:hover {
    rotate: 1deg;
}

.google {
    display: flex;
    padding: 22px 27px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    gap: 0.75rem;
    color: rgb(12, 1, 1);
    background-color: #fffafa;
    cursor: pointer;
    transition: 400ms;
}

.google svg {
    height: 24px;
}

.google:hover {
    transform: scale(1.2, 1.2);
}

.google:active {
    transform: translateY(0.125rem);
}

.github {
    display: flex;
    background-color: rgb(24, 23, 23);
    color: #ffffff;
    padding: 22px 27px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.github svg {
    height: 30px;
}

.github:hover {
    transform: scale(1.2, 1.2);
}

.github:active {
    transform: translateY(0.125rem);
}

.facebook {
    display: flex;
    background-color: #039be5;
    background-image: linear-gradient(to top right, #0163E0, #18ACFE);
    color: #ffffff;
    padding: 20px 19px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.facebook svg {
    height: 30px;
}

.facebook:hover {
    transform: scale(1.2, 1.2);
}

.facebook:active {
    transform: translateY(0.125rem);
}


@media screen and (max-width:1024px) {
    .wrapper {
        padding: 100px 150px;
    }
}

@media screen and (max-width:780px) {
    .wrapper {
        padding: 50px 100px;
    }
}

@media screen and (max-width:650px) {
    .wrapper {
        padding: 30px;
    }
}