.container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    font-family: 'Roboto', sans-serif;
}

.head {
    font-size: 2.5rem;
    display: flex;
    margin-bottom: 20px;
}

.form {
    background: linear-gradient(to right, #f8dbd0, #fdb7be);
    color: #000;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px 20px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input,
.textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
}

.textarea {
    resize: vertical;
    min-height: 100px;
}

.button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    margin-left: 35%;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.button:hover .wrap {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.button:hover span {
    transform: translateX(5em);
}

.button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.successMessage {
    margin-top: 1rem;
    color: green;
    font-weight: bold;
}

@media screen and (max-width:640px) {
    .form{
        height: 550px;
        width: 300px;
    }
}
