/* Base Styles */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Select Styles */
.select {
    margin-bottom: 20px;
    padding: 15px 40px;
    width: max-content;
    margin-left: 0px;
    border: 2px solid #6d6c6c;
    border-radius: 15px;
    background-color: #dad1c0;
    font-size: 16px;
    color: #333;
    appearance: button;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    border-radius: 15px;
}

.select option {
    background-color: #ecebe2;
    color: #333;
}

.select option:hover {
    background-color: #e7bc8a;
}

/* Editor Styles */
.editor {
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
  }

/* Button Styles */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2em;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    padding: .5em 1.5em;
    color: white;
    background: linear-gradient(0deg, rgb(0, 150, 60), rgb(100, 250, 150));
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(0, 130, 40);
    box-shadow: 0 .5em .5em -.4em rgb(0, 0, 0, .5);
    letter-spacing: 0.08em;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    width: 50px;
    height: 35px;
}

.button:hover {
    filter: brightness(1.2);
    color: rgb(0, 0, 0, .5);
}

.button:active {
    transition: 0s;
    transform: rotate(-10deg);
}

/* Add Button Styles */
.addButton {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
}

.addButton:hover {
    transform: translateY(-3px);
}

.addButton:active {
    transform: scale(0.95);
}

/* Add Section Styles */
.add {
    display: flex;
    gap: 20px;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 50px;
}

/* Input Styles */
.input {
    padding: 50px;
    font-size: 64px;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    border: none;
    outline: none;
    color: var(--textColor);
    background-color: transparent;
}

.input::placeholder {
    color: #b3b3b1;

}

/* Text Area Styles */
.textArea {
    width: 100%;
}


/* Publish Button Styles */
.publish {
    background: #7079f0;
    color: white;
    font-family: inherit;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 20em; /* Match the border-radius of addButton */
    border: none;
    cursor: pointer;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    height: 50px; /* Match the height of addButton */
    position: absolute;
    top: 140px; /* Align with the logout button */
    right: 20px; /* Align with the right side of the container */
}

.publish:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #bbc1e6;
}

.publish:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #9ca3cc;
}
