.container{
    margin-top: 50px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--softTextColor);
} 

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pic{
    border-radius: 50%;
}

.logoText{
    font-style: 24px;
}

.desc{
    font-weight: 400;
}

.img:hover{
    transform: scale(1.2);
}

.icons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 100px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.listTitle {
    font-weight: bold;
}


@media screen and (max-width:1024px) {
    .links{
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        gap: 50px;
    }

    .links {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 640px) {
    .links {
        font-style: 14px;
    }
}